<form action="{% url 'copy_of_objective_url' %}" style="padding-top: 35px; padding-bottom: 35px;" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="
                    background-color: #fff;
                    padding: 30px;
                    box-shadow: 2px 2px 2px 2px #d3cfcf94;
                  ">
        <h3 class="h3 mb-0 text-gray-800" style="text-align: center">
          Copy Objective
        </h3>
        <br />
        <label class="control-label" for="objective">Copy All Objective From</label>
        <br>
        <select name="managerid1" name="managerid1" style="border-radius: 10px; width: 100%;  padding: 5px;">
          {% for i in data%}
          <option value="{{i.user_id}}">
            {{i.user__username}}
          </option>
          {% endfor %}
        </select>
        <br />
        <br>
        <label class="control-label" for="objective">Copy Objective To</label>
        <br>

        <select name="managerid2" name="managerid2" style="border-radius: 10px; width: 100%; padding: 5px;">
          {% for i in data %}
          <option value="{{i.user_id}}">
            {{i.user__username}}
          </option>
          {% endfor %}
        </select>
        <br />
        <br>
        <div>
          <button class=" btn btn-primary" style="width: 100%;">Submit</button></a>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </form>